div.dayLabel {
	text-align: center;
	background-color: #ccddff;
}

td {
	width: 175px;
	max-width: 175px;
	height: 125px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	padding: 0px;
	vertical-align: top;
}

th {
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	text-align: center;
	background-color: #eeeeee;
}

table {
	margin: 10px auto;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

ul.taskList {
	list-style-type: none;
}

ul.taskList  li {
	background-color: #ff9999;
	margin: 5px 5px 0px 5px;
	padding: 0px 5px;
	white-space: nowrap;
	overflow: hidden;
}