#login_box{
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 30%;
    border: 2px solid black;
    border-radius: 9px;
    text-align: center;
}

#login_box input{
    margin: 5px auto;
    text-align: center;
}